<script id="home-view" type="text/template">
    <div data-role="header">
        <h3>Ticket Monster</h3>
    </div>
    <div data-role="content" align="center">
        <img src="resources/gfx/icon_large.png"/>
        <h4 align="left">Find events</h4>
        <ul data-role="listview">
            <li>
                <a href="#events">By Category</a>
            </li>
            <li>
                <a href="#venues">By Location</a>
            </li>
        </ul>
    </div>
    <div data-role="footer">
        <a data-role="button" data-icon="info" href="#bookings">View my Bookings </a>
    </div>
</script>



<script id="item-view" type="text/template">
    <div data-role="header">
        <a data-role="button" data-icon="home" href="#">Home</a>
        <h3><%=items%></h3>
    </div>
    <div data-role="content" id='itemMenu'/>
</script>


<script id="category-title" type="text/template">
    <li>
        <a href="#"><%= description %></a>
        <ul id="category-<%=id%>"></ul>
    </li>
</script>

<script id="city" type="text/template">
    <li><a href="#"><%= city %></a>
        <ul id="category-<%= city %>"></ul>
    </li>
</script>

<script id="event-summary" type="text/template">
    <a href="#events/<%=id%>"><%=name%></a>
</script>

<script id="venue-summary" type="text/template">
    <a href="#venue/<%=id%>"><%=name%></a>
</script>



<script id="event-detail" type="text/template">
    <div data-role="header">
        <h3>Book tickets</h3>
    </div>
    <div data-role="content">
        <h3><%=name%></h3>
        <img width='100px' src='rest/media/<%=picture.id%>'/>
        <p><%=description%></p>
        <div data-role="fieldcontain">
            <label for="showSelector">Where:</label>
            <select id='showSelector' data-mini='true'/>
        </div>

        <div data-role='fieldcontain'>
            <fieldset data-role='controlgroup'>
                <legend>When</legend>
                <label for="showSelector">When:</label>
                <input type='text' id="dayPicker" data-role="datebox" data-mini='true'
                       data-options='{"mode":"calbox", "disableManualInput":true, "dateFormat":"%A %d %B %Y"}'/>


                <label for="showSelector">When:</label>
                <select id="performanceTimes" data-mini='true'/>

            </fieldset>
        </div>

    </div>
    <div data-role="footer" class="ui-bar" >
        <a id='bookButton' data-theme='b' data-role="button" data-icon="check">Book</a>
        <h6><%=name%></h6>
    </div>
</script>

<script id="venue-detail" type="text/template">

    <table>
        <tr>
            <td><img width='100px' src='rest/media/<%=picture.id%>'/></td>
            <td><h3><%=name%></h3></td>
        </tr>
        <tr>
            <td colspan="2"><%=description%></td>
        </tr>
        <tr>
            <td colspan="2"><select id='showSelector'/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type='date' id="dayPicker" data-role="datebox" data-options='{"mode":"calbox"}'
                       placeholder='Please select a show date'/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <select id="performanceTimes" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><input name="bookButton" type="button" value="Book"></td>
        </tr>
    </table>
</script>

<script id="create-booking" type="text/template">
    <div data-role="header">
        <h3><%=show.event.name%></h3>
    </div>
    <p><%=show.venue.name%> on <%=new Date(performance.date).toPrettyString()%></p>

    <div data-role="content">
        <div id="sectionSelectorPlaceholder"/>

        <div id="ticketCategoriesViewPlaceholder"/>

        <input type='email' name='email' placeholder="Email"/>

    </div>

    <div data-role="footer" class="ui-bar">
        <a href="#" data-role="button" data-icon="delete">Cancel</a>
        <a id="confirmBooking" data-icon="check" data-role="button" disabled>Checkout</a>
    </div>
</script>


<script id="confirm-booking" type="text/template">
    <div data-role="header">
        <h3><%=show.event.name%></h3>
    </div>
    <p><%=show.venue.name%> on <%=new Date(performance.date).toPrettyString()%></p>

    <div data-role="content">

        <div id="ticketSummaryView"/>

    </div>

    <div data-role="footer" class="ui-bar">
        <div class="ui-grid-b">
            <div class="ui-block-a"><a id="cancel" href="#" data-role="button" data-icon="delete">Cancel</a></div>
            <div class="ui-block-b"><a id="back" href="#" data-role="button" data-icon="back">Back</a></div>
            <div class="ui-block-c"><a id="saveBooking" data-icon="check" data-role="button">Save</a></div>
        </div>
    </div>
</script>


<script id="booking-row" type="text/template">
    <a href="#booking/<%=id%>"><%=contactEmail%></a>
    <a data-tm-role='delete' href="#">Delete</a>
</script>

<script id="select-section" type="text/template">
    Select section:
    <select id="sectionSelect" data-prevent-focus-zoom='true'>
        <option value="-1" selected="true">Choose a section</option>
        <% _.each(sections, function(section) { %>
        <option value="<%=section.id%>"><%=section.name%> - <%=section.description%></option>
        <% }) %>
    </select>
</script>

<script id="ticket-entries" type="text/template">
    <form name="ticketCategories">
        <% if (priceCategories.length > 0) { %>
        <% _.each(priceCategories, function(priceCategory) { %>
        <div id="ticket-category-input-<%=priceCategory.id%>"/>
        <% }) %>
    </form>
    <p/>
    <% } %>
</script>

<script id="ticket-entry" type="text/template">
    <%=priceCategory.ticketCategory.description%>(<%=priceCategory.price%>)<input type="number"
                                                                                  placeholder="Enter value"
                                                                                  name="tickets"/>
</script>

<script id="ticket-summary-view" type="text/template">
    <h3>Current request</h3>

    <div class="ui-grid-b">
        <% _.each(tickets, function(ticketRequest) { %>
        <% _.each(ticketRequest.models, function(model) { %>
        <% if (model.attributes.quantity != undefined) { %>
          <div class="ui-block-a"><b><%= model.attributes.priceCategory.section.name %></b>(<%= model.attributes.priceCategory.section.description %>)</div>
          <div class="ui-block-c"><%= model.attributes.priceCategory.ticketCategory.description %></div>
          <div class="ui-block-d"><%= model.attributes.quantity %></div>
        <% } %>
        <% }) %>
        <% }) %>
    </div>
</script>

<script id="booking-details" type="text/template">
    <table>
        <thead>
        <tr>
            <td colspan="5">Booking <%=id%></td>
        <tr>
        <tr>
            <td>Ticket #</td>
            <td>Category</td>
            <td>Section</td>
            <td>Row</td>
            <td>Seat</td>
        </tr>
        </thead>
        <tbody>
        <% $.each(_.sortBy(tickets, function(ticket) {return ticket.id}), function (i, ticket) { %>
        <tr>
            <td><%= ticket.id %></td>
            <td><%=ticket.ticketCategory.description%></td>
            <td><%=ticket.seat.section.name%></td>
            <td><%=ticket.seat.rowNumber%></td>
            <td><%=ticket.seat.number%></td>
        </tr>
        <% }) %>
        <tr>
            <td colspan="5"/>
            <a href="#bookings">Show all</a>
            <td>
        </tr>

        </tbody>
    </table>
</script>
