<script id="home-view" type="text/template">
    <div data-role="header">
        <h3>Ticket Monster - a JBoss application</h3>
    </div>
    <div data-role="content">
        <img src="resources/gfx/icon_large.png"/>
    </div>
    <a data-role="button" href="#events">By Category</a>
    <a data-role="button" href="#venues">By Location</a>
    <a data-role="button" href="#bookings">My Bookings </a>
</script>



<script id="item-view" type="text/template">
    <div data-role="header">
        <a data-role="button" data-icon="home" href="#">Home</a>
        <h3><%=items%></h3>
    </div>
    <div data-role="content" id='itemMenu'/>
</script>


<script id="category-title" type="text/template">
    <li>
        <a href="#"><%= description %></a>
        <ul id="category-<%=id%>"></ul>
    </li>
</script>

<script id="city" type="text/template">
    <li><a href="#"><%= city %></a>
        <ul id="category-<%= city %>"></ul>
    </li>
</script>

<script id="event-summary" type="text/template">
    <a href="#events/<%=id%>"><%=name%></a>
</script>

<script id="venue-summary" type="text/template">
    <a href="#venue/<%=id%>"><%=name%></a>
</script>



<script id="event-detail" type="text/template">
    <div data-role="header">
        <h3><%=name%></h3>
    </div>
    <div data-role="content">
        <img width='100px' src='rest/media/<%=picture.id%>'/>
        <p><%=description%></p>
        <select id='showSelector' data-native-menu="false"/>
        <input type='text' id="dayPicker" data-role="datebox"
               data-options='{"mode":"calbox", "disableManualInput":true, "dateFormat":"%A %d %B %Y"}'/>
        <select id="performanceTimes" data-native-menu="false"/>
    </div>
    <div data-role="footer" class="ui-bar" >
        <a id='bookButton' data-theme='b' data-role="button" data-icon="check">Book</a>
        <h6><%=name%></h6>
    </div>
</script>

<script id="venue-detail" type="text/template">

    <table>
        <tr>
            <td><img width='100px' src='rest/media/<%=picture.id%>'/></td>
            <td><h3><%=name%></h3></td>
        </tr>
        <tr>
            <td colspan="2"><%=description%></td>
        </tr>
        <tr>
            <td colspan="2"><select id='showSelector' data-native-menu="false"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type='date' id="dayPicker" data-role="datebox" data-options='{"mode":"calbox"}'
                       placeholder='Please select a show date'/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <select id="performanceTimes" data-native-menu="false"/>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input name="bookButton" type="button" value="Book"></td>
        </tr>
    </table>
</script>

<script id="create-booking" type="text/template">
    <div data-role="header">
        <h3><%=show.event.name%></h3>
    </div>
    <p><%=show.venue.name%> on <%=new Date(performance.date).toPrettyString()%></p>

    <div data-role="content">
        <div id="sectionSelectorPlaceholder"/>

        <div id="ticketCategoriesViewPlaceholder"/>

        <div id="ticketSummaryView"/>

        <input type='email' name='email' placeholder="Email"/>

    </div>

    <div data-role="footer" class="ui-bar">
        <a id="cancelBooking" href="#" data-role="button" data-icon="delete">Cancel</a>
        <a id="saveBooking" data-icon="check" data-role="button" disabled>Save</a>
    </div>
</script>


<script id="booking-row" type="text/template">
    <a href="#booking/<%=id%>"><%=contactEmail%></a>
    <a data-tm-role='delete' href="#">Delete</a>
</script>

<script id="select-section" type="text/template">
    Select section:
    <select id="sectionSelect" data-native-menu='false' data-prevent-focus-zoom='true'>
        <option value="-1" selected="true">Choose a section</option>
        <% _.each(sections, function(section) { %>
        <option value="<%=section.id%>"><%=section.name%> - <%=section.description%></option>
        <% }) %>
    </select>
</script>

<script id="ticket-entries" type="text/template">
    <form name="ticketCategories">
        <% if (priceCategories.length > 0) { %>
        <% _.each(priceCategories, function(priceCategory) { %>
        <div id="ticket-category-input-<%=priceCategory.id%>"/>
        <% }) %>
    </form>
    <p/>
    <input type="button" name="add" value="Add!"/>
    <% } %>
</script>

<script id="ticket-entry" type="text/template">
    <%=priceCategory.ticketCategory.description%>(<%=priceCategory.price%>)<input type="number"
                                                                                  placeholder="Enter value"
                                                                                  name="tickets"/>
</script>

<script id="ticket-summary-view" type="text/template">
    Current request:</p>
    <% _.each(tickets, function(ticketRequest) { %>
    <% _.each(ticketRequest.models, function(model) { %>
    <% if (model.attributes.quantity != undefined) { %>
    <%= model.attributes.priceCategory.section.name %> (<%= model.attributes.priceCategory.section.description %>) -
    (<%= model.attributes.priceCategory.ticketCategory.description %>):
    <%= model.attributes.quantity %>
    <% } %>
    <% }) %>
    <% }) %>
</script>

<script id="booking-details" type="text/template">
    <table>
        <thead>
        <tr>
            <td colspan="5">Booking <%=id%></td>
        <tr>
        <tr>
            <td>Ticket #</td>
            <td>Category</td>
            <td>Section</td>
            <td>Row</td>
            <td>Seat</td>
        </tr>
        </thead>
        <tbody>
        <% $.each(_.sortBy(tickets, function(ticket) {return ticket.id}), function (i, ticket) { %>
        <tr>
            <td><%= ticket.id %></td>
            <td><%=ticket.ticketCategory.description%></td>
            <td><%=ticket.seat.section.name%></td>
            <td><%=ticket.seat.rowNumber%></td>
            <td><%=ticket.seat.number%></td>
        </tr>
        <% }) %>
        <tr>
            <td colspan="5"/>
            <a href="#bookings">Show all</a>
            <td>
        </tr>

        </tbody>
    </table>
</script>
