<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
    <title>Ticket Monster</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0;">

    <link type="text/css" rel="stylesheet" href="resources/css/screen.css"/>
    <link rel="stylesheet" href="resources/css/jquery-ui-1.8.17.custom.css" type="text/css" media="all"/>
    <script type="text/javascript" src="resources/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="resources/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="resources/js/underscore.js"></script>
    <script type="text/javascript" src="resources/js/backbone-min.js"></script>
    <script type="text/javascript" src="resources/js/tm-utils.js"></script>

</head>
<body>

<div id="container">
    <div id="menu">
        <table>
            <tr>
                <td><a href="#/events">Events</a></td>
                <td><a href="#/venues">Venues</a></td>
                <td><a href="#/bookings">Bookings</a></td>
                <td><a href="#/about">About</a></td>
            </tr>
        </table>
    </div>
    <div id="content">

    </div>
</div>


<footer>
    <img src="resources/gfx/logo.png" alt="HTML5"/>
</footer>

<script id="main-view" type="text/template">
    <table width='100%'>
        <tr>
            <td width='30%' valign='top'>
                <div id='eventMenu'/>
            </td>
            <td width='70%'>
                <div id='eventSummary'/>
            </td>
        </tr>
    </table>
</script>


<script type="text/javascript">
    $("a").button();

    TicketMonster = new Object()
    TicketMonster.views = new Object()
    TicketMonster.models = new Object()

    TicketMonster.eventBus = _.extend({}, Backbone.Events);


    var summaryView = null


    TicketMonster.Event = Backbone.Model.extend({
        urlRoot:'rest/events'
    })

    TicketMonster.Events = Backbone.Collection.extend({
        url:"rest/events",
        model:TicketMonster.Event,
        id:"id",
        comparator:function (model) {
            return model.get('category').id;
        }
    });

    TicketMonster.MainView = Backbone.View.extend({
        render:function (data) {
            applyTemplate($(this.el), $('#main-view'), {})
            summaryView = new TicketMonster.EventSummaryView();
            $("#eventSummary").append(summaryView.render().el)
            this.menuView = new TicketMonster.MenuView({el:$("#eventMenu")});
            this.menuView.render(data)
        }
    })

</script>


<script id="category-title" type="text/template">
    <h3><a href="#"><%= description %></a></h3>
</script>

<script id="event-summary" type="text/template">
    <a href="#"><%=name%></a>
</script>

<script id="event-summary-view" type="text/template">
    <table>
        <thead>
        <tr>
            <td colspan="2"><h1><%=name%></h1></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2"> <% if(picture != null) {%>
                <img width='350px' src='rest/media/<%=picture.id%>'/>
                <% } else { %>
                We cannot show you a picture, but trust us, it is very cool
                <% } %>
            </td>
            <td> <%=description%></td>
        <tr/>
        <tr>
            <td><a href='#/events/<%=id%>'>Get details</a></td>
        </tbody>
        </tr>
    </table>
</script>

<script id="event-detail-view" type="text/template">
    <table>
        <thead>
        <tr>
            <td colspan="2"><h1><%=name%></h1></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2"> <% if(picture != null) {%>
                <img width='350px' src='rest/media/<%=picture.id%>'/>
                <% } else { %>
                We cannot show you a picture, but trust us, it is very cool
                <% } %>
            </td>
            <td> <%=description%></td>
        <tr/>
        <tr>
            <td><a href='#/events/<%=id%>'>Get details</a></td>
        </tbody>
        </tr>
    </table>
</script>

<script type="text/javascript">

    TicketMonster.MenuView = Backbone.View.extend({
        tagName:'div',
        render:function (data) {
            var viewRoot = $(this.el)
            viewRoot.empty()
            var current_category = null
            _.each(data, function (event) {
                var model_category = event.get('category')
                if (current_category !== model_category.id) {
                    viewRoot.append(renderTemplate($('#category-title'), model_category));
                    current_category = model_category.id;
                }
                var view = new TicketMonster.EventSummaryLineView({model:event});
                viewRoot.append(view.render().el);
            })
            $(this.el).accordion()
            $(this.el).accordion("option", "navigation", "true")
            return this
        }
    });


    TicketMonster.EventSummaryLineView = Backbone.View.extend({
        tagName:'div',
        events:{
            "click":"notify"
        },
        render:function () {
            applyTemplate($(this.el), $("#event-summary"), this.model.attributes)
            return this;
        },
        notify:function () {
            summaryView.render(this.model)
        }
    })
</script>

<script type="text/javascript">
    TicketMonster.EventSummaryView = Backbone.View.extend({
        render:function (data) {
            if (data) {
                applyTemplate($(this.el), $("#event-summary-view"), data.attributes)
            }
            else {
                $(this.el).empty()
                $(this.el).append("Click a link on the left")
            }
            return this
        }
    })
</script>

<script id="event-detail" type="text/template">

    <table>
        <tr>
            <td colspan="2"><h1><%=name%></h1></td>
        </tr>
        <tr>
            <td width='350px' rowspan="4"><img width='350px' src='rest/media/<%=picture.id%>'/></td>
            <td><label for='venueSelector'>Where: </label><select id='venueSelector'/>
            </td>


        </tr>
        <tr>
            <td>
                <div style='font-size:0.7em' type='text' id="dayPicker"/>
                <label for="performanceTimes">Choose a time:</label><select id="performanceTimes"/>
            </td>
        </tr>
        <tr>
            <td><%=description%></td>
        </tr>
        <tr>
            <td><input name="bookButton" type="button" value="Book"></td>
        </tr>
    </table>
</script>

<script type="text/javascript">
TicketMonster.EventDetailView = Backbone.View.extend({
    events:{
        "click input[name='bookButton']":"beginBooking"
    },
    render:function (model) {
        $(this.el).empty()
        applyTemplate($(this.el), $("#event-detail"), model.attributes)
        var eventId = model.get("id")

        var topElement = $(this.el)

        $.getJSON("rest/shows?event=" + eventId, function (shows) {
            $("#venueSelector").empty()
            $.each(shows, function (i, show) {
                $("#venueSelector").append("<option value='" + show.id + "'>" + show.venue.address.city + " : " + show.venue.name + "</option>")
           })
            $("#venueSelector").change(function (selectElement) {
                var selectedShowId = $("#venueSelector option:selected").val();
                var selectedShow = _.find(shows, function(show){ return show.id == selectedShowId });

                $("#dayPicker").datepicker("destroy")
                $("#dayPicker").datepicker({
                    beforeShowDay:function (date) {
                        return [_.any(selectedShow.performances, function (performance) {
                            return _.isEqual(new Date(performance.date).toCalendarDate(), date.toCalendarDate())
                        }), "*", "Performance on this date"]
                    },
                    onSelect:function (dateText, inst) {
                            var date = $(this).datepicker('getDate');
                            $("#performanceTimes").empty()
                            if (selectedShow) {
                                $.each(selectedShow.performances, function (i, performance) {
                                    var performanceDate = new Date(performance.date);
                                    if (_.isEqual(performanceDate.toCalendarDate(), date.toCalendarDate())) {
                                        $("#performanceTimes").append("<option value='" + performance.id + "'>" + performanceDate.getHours().toZeroPaddedString(2) + ":" + performanceDate.getMinutes().toZeroPaddedString(2) + "</option>")
                                    }
                                })
                            }
                        },
                    defaultDate:null,
                    minDate:new Date(selectedShow.performances[0].date),
                    maxDate:new Date(selectedShow.performances[selectedShow.performances.length - 1].date),
                    autoSize:false

                });
                $("#dayPicker").datepicker("setDate", null);
            })


            if ($("#venueSelector").val()) {
                $("#venueSelector").change()
            }
            if ($("#performanceTimes").val()) {
                $("#book").empty().append("<input type='button' name='bookButton' value='Book'/>");
            }
        })
    },
    beginBooking:function () {
        tmRouter.navigate('/book/' + $("#venueSelector option:selected").val() + '/' + $("#performanceTimes").val(), true)
    }

})

TicketMonster.Booking = Backbone.Model.extend({
    urlRoot:'rest/bookings'
})

TicketMonster.Bookings = Backbone.Collection.extend({
    url:'rest/bookings',
    model:TicketMonster.Booking,
    id:'id'
})

TicketMonster.BookingView = Backbone.View.extend({
    events:{
        "click input[name='delete']":"delete"
    },
    render:function () {
        $(this.el).empty().append("<tr>" +
                "<td>" + this.model.get('id') + "</td>" +
                "<td>" + this.model.get('contactEmail') + "</td>" +
                "<td><input name='delete' type='button' value='Delete'/></td>" +
                "</tr>")
        return this;
    },
    delete:function () {
        if (confirm("Are you sure you want to delete booking " + this.model.get('id'))) {
            var self = this
            this.model.destroy()

        }
    }
})


TicketMonster.BookingsView = Backbone.View.extend({
    render:function (bookings) {
        $(this.el).empty().append("<table id='bookingDetails'/>");
        _.each(bookings, function (booking) {
            var bookingView = new TicketMonster.BookingView({model:booking})
            $("#bookingDetails").append(bookingView.render().el)
        })
    }
})

TicketMonster.PriceCategoryView = Backbone.View.extend({
    events:{
        "change input":"update"
    },
    render:function () {
        var priceCategory = this.model.get('priceCategory');
        $(this.el).append(priceCategory.ticketCategory.description + "(" + priceCategory.price + ")" + ": <input type='number' name='tickets' min='1' max='5' title='Numeric value' placeholder='Enter ticket count'/> " +
                " <input type='hidden' name='priceCategories' value='" + priceCategory.id + "'/>")
        return this;
    },
    update:function (event) {
        var quantity = $(this.el).find("input[type='number']").val();
        if ('' === quantity || 0 == quantity) {
            this.model.unset('quantity')
        }
        else {
            this.model.set('quantity', parseInt(quantity));
        }
    }
})

TicketMonster.BookingRequest = Backbone.Model.extend({

});

TicketMonster.AllocationRequest = Backbone.Model.extend({

})

TicketMonster.SectionView = Backbone.View.extend({
    tagName:'fieldset',
    events:{
        "change input":"checkAvailability"
    },
    render:function () {
        this.priceCategories = new Array()
        $(this.el).append("<legend>Section " + this.model.get('section').name + "</legend>" +
                "<div id='sectionQuantity'/>" +
                "<div id='sectionAvailability'/>");
        var self = this;
        _.each(this.model.get('priceCategories'), function (priceCategory) {
            var performanceId = self.model.get('performanceId');
            var priceModel = new Backbone.Model({priceCategory:priceCategory, performanceId:performanceId});
            var priceCategoryView = new TicketMonster.PriceCategoryView({model:priceModel});
            $(self.el).append(priceCategoryView.render().el)
            self.priceCategories.push(priceModel)
        })
        return this
    },
    checkAvailability:function () {
        var sectionQuantity = 0
        var sectionPrice = 0
        _.each(this.priceCategories, function (priceCategory) {
            if (priceCategory.get('quantity') != null) {
                var quantity = priceCategory.get('quantity');
                sectionQuantity += quantity;
                sectionPrice += quantity * priceCategory.get('priceCategory').price
            }
        })
        if (sectionQuantity != 0) {
            $(this.el).find("#sectionQuantity").empty().append(sectionQuantity.toString() + " for " + sectionPrice)
            var self = this
            $.getJSON("rest/availability", {"performance":this.model.get('performanceId'), "quantity":sectionQuantity, "section":this.model.get('section').id}, function (result) {
                if (result) {
                    $(self.el).find('legend').css('background-color', '#00AA00').css('color', 'white')
                }
                else {
                    $(self.el).find('legend').css('background-color', '#AA0000').css('color', 'white')
                }
                self.model.set('availability', result)
            })
        } else {
            $(this.el).find("#sectionQuantity").empty();
            $(this.el).find('legend').css('background-color', 'transparent').css('color', 'black')
            this.model.unset('availability')
        }
    }
})


TicketMonster.CreateBookingView = Backbone.View.extend({
    events:{
        "submit form":"save"
    },
    render:function (showId, performanceId) {
        var loadedSections = new Object()
        var topLevelElement = $(this.el)
        topLevelElement.empty()
        $.getJSON("rest/shows/" + showId, function (selectedShow) {
            var performance = _.filter(selectedShow.performances, function (item) {
                return item.id === performanceId
            })[0];
            topLevelElement.append("<h3>" + selectedShow.event.name + '</h3><p/><h4>' + selectedShow.venue.name + " on " + new Date(performance.date).toPrettyString() + "</h4><p/><div id='book'/>")

            $("#book").append("<form id='bookTickets' name='bookTickets'/>");

            selectedShow.venue.sections.forEach(function (section) {
                loadedSections[section.id] = section
            })

            $.getJSON("rest/shows/" + selectedShow.id + "/pricing", function (pricingMap) {
                for (sectionId in pricingMap) {
                    var sectionModel = new Backbone.Model({'priceCategories':pricingMap[sectionId], 'section':loadedSections[sectionId], 'performanceId':performanceId});
                    $("#bookTickets").append(new TicketMonster.SectionView({model:sectionModel, id:'booking' + sectionId}).render().el)
                }

                $("#bookTickets").append("Email: <input type='email' name='email' required/>");
                $("#bookTickets").append("<input type='hidden' name='performance' value='" + performanceId + "'/>")
                $("#bookTickets").append("<input name='createBooking' type='submit' value='Book!'/>")
            })
        })
    },
    save:function (event) {
        event.originalEvent.preventDefault()
        $.post("rest/bookings", $(event.currentTarget).serialize(),
                function (booking) {
                    $("#book").empty()

                    $("#book").append("Created booking " + booking.id + " with tickets as follows: ")
                    $.each(booking.allocations, function (i, allocation) {
                        if (allocation.quantity > 1) {
                            $("#book").append("<p/> Section " + allocation.row.section.name + " Row " + allocation.row.name + ", seats " + allocation.startSeat + "-" + allocation.endSeat)
                        } else {
                            $("#book").append("<p/> Section " + allocation.row.section.name + " Row " + allocation.row.name + ", seat " + allocation.startSeat)
                        }
                        $.each(allocation.ticketsPerCategory, function (i, entry) {
                            $("#book").append("<p/> " + entry.ticketCount + " " + entry.ticketCategory.description)
                        })
                    })

                }).error(function (error) {
                    alert(error)
                })
    }
})


TicketMonster.AboutView = Backbone.View.extend({
    render:function () {
        $(this.el).empty().append("<section><h1>Welcome to Ticket Monster!</h1>" +
                "Ticket Monster is a demo application</section>")
    }
})

TicketMonster.Router = Backbone.Router.extend({
    routes:{
        "events":"home",
        "events/:id":"eventDetail",
        "about":"about",
        "book/:showId/:performanceId":"bookTickets",
        "bookings":"listBookings",
        "ignore":"ignore",
        "*actions":"defaultHandler"
    },
    initialize:function () {
        TicketMonster.views.mainView = new TicketMonster.MainView({el:$("#content")})
        TicketMonster.views.aboutView = new TicketMonster.AboutView({el:$("#content")})
        TicketMonster.views.eventDetailView = new TicketMonster.EventDetailView({el:$("#content")})
        TicketMonster.views.createBookingView = new TicketMonster.CreateBookingView({el:$("#content")})
        TicketMonster.views.bookingsView = new TicketMonster.BookingsView({el:$("#content")})
        TicketMonster.models.events = new TicketMonster.Events;
        TicketMonster.models.bookings = new TicketMonster.Bookings;
        TicketMonster.models.events.bind("reset", function () {
            TicketMonster.views.mainView.render(this.models)
        })
        TicketMonster.models.bookings.bind("reset", function () {
            TicketMonster.views.bookingsView.render(this.models)
        })
        TicketMonster.models.bookings.bind("destroy", function () {
            this.fetch()
        })
    },
    home:function () {
        TicketMonster.models.events.fetch()
    },
    about:function () {
        TicketMonster.views.aboutView.render()
    },
    bookTickets:function (showId, performanceId) {
        TicketMonster.views.createBookingView.render(parseInt(showId), parseInt(performanceId))
    },
    listBookings:function () {
        TicketMonster.models.bookings.fetch()
    },
    eventDetail:function (id) {
        var model = new TicketMonster.Event({id:id})
        model.bind("change", function () {
            TicketMonster.views.eventDetailView.render(this)
        })
        model.fetch()
    }
});


var tmRouter = new TicketMonster.Router;

Backbone.history.start();

</script>

</body>
</html>